<!DOCTYPE html>
<html>
  <body style="background-color: #{color}; color: white; text-align: center; font-family: sans-serif;">
  Git Version:
    <p id="revision">#{git_version}</p>
  </body>
</html>
